<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">¿Tienes problemas para iniciar sesión?</p>
                <form [formGroup]="valForm" class="form-validate" role="form" name="recoverForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <p class="text-center">Ingresa tu correo electrónico y te enviaremos un enlace para que recuperes el acceso</p>
                    <div class="form-group">
                        <label class="text-muted">Correo electrónico</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="email" name="email" placeholder="Correo electrónico" autocomplete="off" formControlName="email" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field is required</div>
                        <div class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field must be a valid email address</div>
                    </div>
                    <button class="btn btn-danger btn-block" type="submit">Enviar enlace</button>
                </form>
            </div>
        </div>
        <!-- END card-->
  
    </div>
</div>
