<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/angular.svg" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">MASAJES RELAJANTES CHIHUAHUA</h1>
                <p class="lead">Presiona el botón para realizar una venta
                    
                </p>
                <p><a class="mb-1 mr-1 btn btn-primary" href="https://angular.io/" >Realizar venta</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Clientes</h3>
                </div>
                <div class="card-body">
                    Seleccione esta opción para ver detalles, ventas y masajes próximos al cliente.
                    <p><a class="mb-1 mr-1 btn btn-primary" href="extras/contacts">ver clientes</a></p>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Productos</h3>
                </div>
                <div class="card-body">
                    Seleccione esta opción para ver los precios y detalles de los productos.
                    <p><a class="mb-1 mr-1 btn btn-primary" href="ecommerce/products" >ver productos</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Ventas</h3>
                </div>
                <div class="card-body">
                    Seleccione esta opción para ver las ventas y sus detalles.
                    <p><a class="mb-1 mr-1 btn btn-primary" href="ecommerce/orders" >ver ventas</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Compras</h3>
                </div>
                <div class="card-body">
                    Seleccione esta opción para ver los detalles de las compras.
                    <p><a class="mb-1 mr-1 btn btn-primary" href="ecommerce/purchases" >ver compras</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Cursos</h3>
                </div>
                <div class="card-body">
                    Seleccione esta opción para observar los detalles de los cursos actuales.
                    <p><a class="mb-1 mr-1 btn btn-primary" href="/blog/articles" >ver cursos</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Masajes</h3>
                </div>
                <div class="card-body">
                    Seleccione esta opción para observar el stock disponible.
                    <p><a class="mb-1 mr-1 btn btn-primary" href="/extras/calendar" >ver masajes</a></p>
                </div>
            </div>
        </div>
    </div>
</div>