<div class="row">
    <div class="col-lg-4">
        <div class="card card-default">
            <div class="card-body text-center">
                <div class="py-4">
                    <img class="img-fluid rounded-circle img-thumbnail thumb96" src="assets/img/user/02.jpg" alt="Contact" />
                </div>
                <h3 class="m-0 text-bold">Alan Cortés</h3>
                
                
            </div>
        </div>
    
    </div>
    <div class="col-lg-8">
        <div class="card card-default">
            <div class="card-header d-flex align-items-center">
                <div class="d-flex justify-content-center col">
                    <div class="h4 m-0 text-center">Información del cliente</div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="btn-group" dropdown>
                        <button class="btn btn-link" dropdownToggle>
                            <em class="fa fa-ellipsis-v fa-lg text-muted"></em>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right-forced animated fadeInLeft" role="menu">
                            <a class="dropdown-item" href="#">
                                <span>Send by message</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span>Share contact</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span>Block contact</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="text-warning">Delete contact</span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row py-4 justify-content-center">
                    <div class="col-12 col-sm-10">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact1">Nombre</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <input class="form-control" id="inputContact1" type="text" placeholder="" value="Alan Cortés" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact2">Teléfono</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <input class="form-control" id="inputContact2" type="number" value="6145296158" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact3">Dirección</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <input class="form-control" id="inputContact3" type="text" value="Cerro de la cruz" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact4">Estado</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <input class="form-control" id="inputContact4" type="text" value="Chihuahua" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact5">Ciudad</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <input class="form-control" id="inputContact5" type="text" value="Chihuahua" />
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact7">Correo electrónico</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <input class="form-control" id="inputContact7" type="email" value="alancortes9638@gmail.com" />
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-xl-2 col-md-3 col-4"></div>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck1" type="checkbox" />
                                        <label class="custom-control-label" for="customCheck1">Cliente distinguido</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <button class="btn btn-info" type="submit">Actualizar</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-right">
                            <a class="text-muted" href="#">¿Eliminar datos del cliente?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
